<footer class="bg-black text-light ">
    <div class="">
        <div class="row ">
            
            <div class="col-md-2 d-flex align-items-center ">
                <a href="index.html" class="col-12 col-md-6 text-center "> 
                    <img src="./static/img/LogoTEXWORLD.webp" alt="Logo de la Empresa" class="img-fluid animate__animated animate__rotateIn " id="logofooter">
                </a>
            </div>
            <div class="col-md-7 text-center">
                <!-- Datos de la empresa -->
                <h1 id="textofooter">TEXWORD</h1>
                <h5>DESPACHO ADUANERO Y COMERCIO EXTERIOR</h5>
                <p>Jean Jaures 1000 - Cuidad Autónoma de Buenos Aires</p>
        
            </div>
            <div class="col-md-3 text-center">
                <!-- Acceso a redes sociales -->
                <p>Síguenos en las redes sociales :</p>
                    <ul class=" list-inline ">
        
                        <li class="list-inline-item fs-2">
                            <a href="mailto:carina_vera2022.hotmail.com?subject=Asunto%20del%20correo&body=Cuerpo%20del%20correo%20aquí">
                                <i class="fa-solid fa-envelope fa-1x"></i> 
                            </a>
                
                        </li>
                        <!-- <a href="mailto:carina_vera2022.hotmail.com?subject=Consulta&body=Hola,%20tengo%20una%20pregunta...">Contáctanos por correo</a> -->

            
                        <li class="list-inline-item fs-2">
                            <a href="https://www.facebook.com" target="_blank">
                                
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item fs-2">
                            <a href="https://twitter.com/" target="_blank">
                                
                                <i class="fa-brands fa-x-twitter"></i> 
                            </a>
                        </li>
                        <li class="list-inline-item fs-2">
                            <a href="https://www.instagram.com/" target="_blank">
                                
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>

                      
                        <div class="whatsapp-icon">
                          <a href="https://wa.me/1121777126" target="_blank" style="text-decoration: none;">
                              <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
                          </a>
                      </div>



                        <!-- Agrega más iconos y enlaces según sea necesario -->
                    </ul>
        </div>
    </div>


</footer>