
        <header class="bg-black text-light  sticky-top col-12 col-md-12 text-center">
            <div class="">
                <div class="row align-items-center">
                    <div class="col-md-1">
                      <a href="index.html">
                        <img src="./static/img/LogoTEXWORLD.webp" alt="Logo de la Empresa" class="img-fluid animate__animated animate__rotateIn" id="logoheader">
                      </a>
                      </div>
                    <div class="col-md-5">
                        <h1 class="logo-text fs-1 text-center">TEXWORLD</h1>
                        <h1 class="logo-text fs-5 text-left">DESPACHO ADUANERO Y COMERCIO EXTERIOR</h1>
                    </div>
                    <div class="col-md-6">
                        <!-- Navegación y cuadro de búsqueda -->
                        <nav class="navbar  navbar-expand-lg navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="index.html">Inicio</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="./templates/productos.html">Productos</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="./templates/servicios.html">Servicios</a>
                                    </li>
                                    <li class="nav-item ">
                                      <a class="nav-link" href="./templates/nosotros.html">Nosotros</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="./templates/contacto.html">Contacto</a>
                                    </li>
                                    <!-- Agrega más elementos del menú según sea necesario -->
                                </ul> 
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2 m-4" type="search" placeholder="Buscar" aria-label="Search" id="valor">
                                    
                                </form>
                                <button class="btn btn-outline-light my-2 my-sm-0 m-5" type="button" onclick="buscar()">Buscar</button>
                                
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
       