
<!doctype html>
    <html lang="en">
        <head>
            <title>TEXWORLD</title>
            <link rel="icon" href="../static/img/LogoTEXWORLD.PNG">
            <!-- Required meta tags -->
            <meta charset="utf-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1, shrink-to-fit=no"
            />
    
             <!-- Vincular Google Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
            
            
            <!-- Bootstrap CSS v5.2.1 -->
            
    
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                crossorigin="anonymous"
            />
            <link rel="stylesheet" type="text/css" href="../static/css/style.css">
            <link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
            <script src="./static/js/script.js"></script>
        </head>
        <!-- -comienzo del body -->
        <body>
            
            <header class="bg-black text-light  sticky-top col-12 col-md-12 text-center">
                <div class="">
                    <div class="row align-items-center">
                        <div class="col-md-1">
                          <a href="index.html">
                            <img src="../static/img/LogoTEXWORLD.png" alt="Logo de la Empresa" class="img-fluid animate__animated animate__rotateIn" id="logoheader">
                          </a>
                          </div>
                        <div class="col-md-5">
                            <h1 class="logo-text fs-1 text-center"id="textofooter">TEXWORLD</h1>
                            <h1 class="logo-text fs-5 text-left">DESPACHO ADUANERO Y COMERCIO INTERNACIONAL</h1>
                        </div>
                        <div class="col-md-6">
                            <!-- Navegación y cuadro de búsqueda -->
                            <nav class="navbar  navbar-expand-lg navbar-dark ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="../index.html">Inicio</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="../templates/servicios.html">Servicios</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="../templates/productos.html">Productos</a>
                                          </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="../templates/nosotros.html">Nosotros</a>
                                        </li>
                                        <li class="nav-item ">
                                          <a class="nav-link" href="../templates/ubicacion.html">Ubicacion</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="../templates/contacto.html">Contacto</a>
                                        </li>
                                        <!-- Agrega más elementos del menú según sea necesario -->
                                    </ul> 
                                    <form class="form-inline my-2 my-lg-0">
                                        <input class="form-control mr-sm-2 m-4" type="search" placeholder="Buscar" aria-label="Search" id="valor">
                                        
                                    </form>
                                    <button class="btn btn-outline-light my-2 my-sm-0 m-5" type="button" onclick="buscar()">Buscar</button>
                                    
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!--fin del header -->
          
      
        <main class="mt-0" id="">
            
            
            <h5 class="card-title text-center fs-1 text-danger" >Sobre Nosotros</h5>
            

            
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <img src="../static/img/camion0.png" alt="Imagen de ejemplo" class="img-fluid">
                  </div>
                  <div class="col">
                    <p class="propiedades manuscrita mt-5 fs-4 ">
                        Somos un estudio que desde hace más de 20 años asiste a empresas y personas, 
                        a comercializar y movilizar sus productos y bienes, de lo más diversos rubros,
                         desde y hacia el exterior del país. </p>
                    <p class="propiedades manuscrita fs-4 ">En <span  class="text-primary fw-bold">TEXWORLD </span> tenemos como objetivo que las operaciones de nuestros clientes sean
                         exitosas. Usted encontrará un grupo de profesionales a los que les interesa brindar 
                         seguridad y simpleza en pos de lograrlo.</p>
                    </p>
                  </div>
                  
                </div>
              </div>


              <div class="container text-center">
                <div class="row align-items-start">
                  <div class="col">
                    <p class="  fs-6" id="justificar">En nuestra empresa <span class="text-primary fw-bold">TEXWORLD </span></p>
                    <p class="  fs-6" id="justificar"> Somos expertos en facilitar y optimizar el comercio exterior, conectando negocios con oportunidades globales.</p>
                    <p class="  fs-6" id="justificar">Nuestro objetivo es hacer que el comercio internacional sea accesible, eficiente y exitoso para 
                       nuestros clientes.</p>
                        
                  </div>
                  <div class="col">
                    <p class="  fs-5 fw-bold" id="justificar">¿Por qué elegirnos?</p>

                    <p class=" fs-5 fw-bold" id="justificar">
                        <ul id="justificar">
                          <li><span class="text-primary fw-bold">Experiencia Sólida:</span> Contamos con más de 20 años de experiencia en el mercado, 
                            trabajando con empresas de diversos sectores.</li>
                            <li><span class="text-primary fw-bold"> Red Global de Socios:</span> Nuestra red de contactos internacionales garantiza soluciones adaptadas
                            a las necesidades específicas de su negocio.</li>
                            <li> <span class="text-primary fw-bold">Asesoramiento Personalizado:</span> Ofrecemos asesoramiento en cada etapa del proceso, desde la 
                            logística hasta los aspectos legales y aduaneros.</li>
                            <li><span class="text-primary fw-bold">Tecnología Avanzada: </span> Implementamos herramientas tecnológicas innovadoras para rastrear y 
                            gestionar envíos en tiempo real.</li>
                            <li><span class="text-primary fw-bold"> Compromiso con la Sostenibilidad: </span> Promovemos prácticas comerciales responsables y sostenibles
                            para contribuir a un comercio más ético y ecológico.</li>
                    </ul>
                    </p>
                  </div>
                  <div class="col">
                    <p class=" fs-5 fw-bold" id="justificar">Nuestros Servicios </p>

                    <p class=" fs-5 fw-bold" id="justificar">
                        <ul id="justificar">

                            <li><span class="text-primary fw-bold">Logística Internacional: </span> Transporte aéreo, marítimo y terrestre adaptado a sus necesidades. </li>

                            <li><span class="text-primary fw-bold">Gestiones Aduaneras: </span> Soluciones ágiles y seguras para el cumplimiento normativo. </li>

                            <li><span class="text-primary fw-bold">Consultoría en Comercio Exterior: </span> Estrategias para acceder a nuevos mercados. </li>

                            <li><span class="text-primary fw-bold">Almacenamiento y Distribución: </span> Infraestructura para una gestión eficiente. </li>
                    </ul>
                    </p>
                  </div>
                </div>
              </div>



              <div class="container text-center">
                <div class="row align-items-start">
                  <div class="row">
                    <img src="../static/img/barco33.png" alt="">
                  </div>
                  
                </div>
              </div>




             
        </main>

        
        <footer class="bg-black text-light ">
                    <div class="">
                        <div class="row ">
                            
                            <div class="col-md-2 d-flex align-items-center ">
                                <a href="index.html" class="col-12 col-md-6 text-center "> 
                                    <img src="../static/img/LogoTEXWORLD.png" alt="Logo de la Empresa" class="img-fluid animate__animated animate__rotateIn " id="logofooter">
                                </a>
                            </div>
                            <div class="col-md-7 text-center">
                                <!-- Datos de la empresa -->
                                <h1 id="textofooter">TEXWORD</h1>
                                <h5>DESPACHO ADUANERO Y COMERCIO INTERNACIONAL</h5>
                                <p>Jean Jaures 1000 - Cuidad Autónoma de Buenos Aires</p>
                        
                            </div>
                            <div class="col-md-3 text-center">
                                <!-- Acceso a redes sociales -->
                                <p>Síguenos en las redes sociales :</p>
                                    <ul class=" list-inline ">
                        
                                        <li class="list-inline-item fs-2">
                                            <a href="mailto:carina_vera2022.hotmail.com?subject=Asunto%20del%20correo&body=Cuerpo%20del%20correo%20aquí">
                                                <i class="fa-solid fa-envelope fa-1x"></i> 
                                            </a>
                                
                                        </li>
                                        <!-- <a href="mailto:carina_vera2022.hotmail.com?subject=Consulta&body=Hola,%20tengo%20una%20pregunta...">Contáctanos por correo</a> -->

                            
                                        <li class="list-inline-item fs-2">
                                            <a href="https://www.facebook.com" target="_blank">
                                                
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item fs-2">
                                            <a href="https://twitter.com/" target="_blank">
                                                
                                                <i class="fa-brands fa-x-twitter"></i> 
                                            </a>
                                        </li>
                                        <li class="list-inline-item fs-2">
                                            <a href="https://www.instagram.com/" target="_blank">
                                                
                                                <i class="fa-brands fa-instagram"></i>
                                            </a>
                                        </li>

                                        <!--enlace a whatsapp-->
                                        <div class="whatsapp-icon">
                                          <a href="https://wa.me/1121777126" target="_blank" style="text-decoration: none;">
                                              <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
                                          </a>
                                      </div>



                                        <!-- Agrega más iconos y enlaces según sea necesario -->
                                    </ul>
                        </div>
                    </div>
                
                
        </footer>
<!-- Bootstrap JavaScript Libraries -->
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/3325e80655.js" crossorigin="anonymous"></script>


        
</body>
</html>
